.Container{
  width: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header {
  width: 100%;
  height: 60px;
  background-color: #0B1320;
  color: white;
  display: flex;
  justify-content: center;
}

.HeaderWrapper {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav{
  display: flex;
  width: 700px;
  justify-content: space-around;
  font-weight: bold;
}

.Logo {
  width: 120px;
}

.HeroHolder {
  height: 450px;
  width: 100%;
  background-color: #C2B0DA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroWrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.Baby{
  width: 490px;
  height: 450px;
  margin-bottom: -15px;
}

.Left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Heads {
  font-size: 40px;
  font-weight: 40px;
}

.PMan {
  margin-top: -20px;
}

.Second{
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}

.but{
  width: 75%;
  display: flex;
  justify-content: space-around;

}

.button1 {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color: none; color: black;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

 .but2{
   display: flex;
   justify-content: space-between; 
   width: 85%;
   height: 70%;
   
 }

 .but2i{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

 }

 .but2i{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
 }

.button3{
  background-color: #e7e7e7; color: black;
  border: none;
  color: black;
  padding: 30px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
 
}

.SecondImage{
  height: 75%;
}

.TopHeader{
  font-size: 20px;
  font-family: bold;
  text-align: center;

}

.Container2{
  display: flex;
  justify-content: space-between;
 
}

.Container2-Box{
  flex-basis: 40%;
}

.Container3{
  display: flex;
  justify-content: space-between;
 
}

.Container3-Box{
  flex-basis: 40%;
}

.Container4{
  display: flex;
  justify-content: space-between;
 
}

.Container4-Box{
  flex-basis: 40%;
}

.Third{
  background-color: blue;
  height: 200vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.TopDisplay{
  text-align: center;
  width: 100%;
  height: 20%;
}

.ThirdFrist{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;

}
.ThirdFirstContainer{
  width: 100%;
  height: 10vh;
}

.ThirdFirstContainer1{
  width: 100%;
  height: 10vh;

}

.Image3{
  width: 70px;

}

.Image4{
  width: 70px;

}

.Image6{
  width:70px;
}

.Image8{
  width:70px;
}